.accordion {
    margin-bottom: 15px;
    width: 100%;
}

.accordion .title {
    margin-bottom: 5px;
    background-color: blue;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}
